*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff4200;
    font-size: 40px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
}

.menu{
    width: 450px;
    float: left;
    height: 70px;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

ul li{
    list-style: none;
    margin-left: 65px;
    margin-top: 30px;
    font-size: 14px;

}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff4200;
}
.content{
    transform:translate();
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-left: 5%;
    color: #fff;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff4200;
    border: none;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff4200;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(145, 143, 143, 0.8)50%, rgba(145, 143, 143, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 30px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;

}

.error-msg{
    display: none;
    color: #f00;
    margin: 0 0 10px 10px;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;

}

.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.icon a{
    text-decoration: none;
    color: white;
    
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
}

.liw{
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: center;

}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
P{
    color: #fff;
}

footer{
    padding: 20px;
    background-color: #ff4200;
}

@media only screen and(max-width:400px){
    body{
        visibility: collapse;
    }
}
